# OS
.DS_Store
Thumbs.db

# Node / Package managers
node_modules/
npm-debug.log
yarn-error.log

# Build and cache
dist/
build/
.cache/
*.log

# Editor settings
.vscode/
.idea/
*.swp
*.swo
